<ion-view view-title="Today">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Prayer Times</div>
      <div class="item item-body">
      <div class="row">
        <div class="col">Fajr</div>
        <div class="col">Shuruq</div>
        <div class="col">Duhr</div>
        <div class="col">Asr</div>
        <div class="col">Maghrib</div>
        <div class="col">Isha</div>
      </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Hijri Date</div>
      <div class="item item-body">
        <div>
          Today is the 4th of Muharram.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">On this day...</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
