<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Today Tab -->
  <ion-tab title="Today" icon-off="ion-ios7-time-outline" icon-on="ion-ios7-time" href="#/tab/today">
    <ion-nav-view name="tab-today"></ion-nav-view>
  </ion-tab>


  <!-- Month Tab -->
  <ion-tab title="Month" icon-off="ion-ios7-calendar-outline" icon-on="ion-ios7-calendar" href="#/tab/month">

    </ion-header-bar>
    <ion-nav-view name="tab-month"></ion-nav-view>
  </ion-tab>


  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>
</ion-tabs>