page-today {
  .col-card {
    margin: 2px;
    width: calc(100% - 4px);
  }

  .next-prayer-card{
    background: map-get($colors, primary);
    margin-bottom: 0;
    color: white;

    &__title {
      color: white;
    }
  }
}
