<ion-header>
  <ion-navbar>
    <ion-title>
      {{todayMonthName}} Prayer Times
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="currentMonth">

    <ion-list no-lines>
      <ion-item class="month__row month__row--header">
        <ion-row>
          <ion-col col-1>&nbsp;</ion-col>
          <ion-col class="month__col">Fajr</ion-col>
          <ion-col class="month__col">Shuruq</ion-col>
          <ion-col class="month__col">Duhr</ion-col>
          <ion-col class="month__col">Asr</ion-col>
          <ion-col class="month__col">Maghrib</ion-col>
          <ion-col class="month__col">Isha</ion-col>
        </ion-row>

      </ion-item>
      <ion-item class="month__row" *ngFor="let row of currentMonth">
        <ion-row>
          <ion-col col-1><span class="month__day-col">{{row.day}}</span></ion-col>
          <ion-col>{{row.fajr.formattedDate()}}</ion-col>
          <ion-col>{{row.shuruq.formattedDate()}}</ion-col>
          <ion-col>{{row.duhr.formattedDate()}}</ion-col>
          <ion-col>{{row.asr.formattedDate()}}</ion-col>
          <ion-col>{{row.maghrib.formattedDate()}}</ion-col>
          <ion-col>{{row.isha.formattedDate()}}</ion-col>
        </ion-row>

      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="!currentMonth">
    Loading month data...
  </div>
</ion-content>
